footer {

    @media screen and (min-width: 769px) {
        display: flex;
        justify-content: space-between;

        width: 1440px;
        margin: 0 auto;

    }
}


footer p {
    color: #000000;
    font-family: 'Roboto', sans-serif;
    margin-top: 47px;
    margin-bottom: 0;
    font-size: 15px;

    @media screen and (min-width: 769px) {
        display: inline;
        font-size: 13px;
        margin-top: 47px;
        letter-spacing: 0;
    }
}


footer .parte-1 {

    text-align: center;

    @media screen and (min-width: 769px) {
        margin-top: 49px;
        margin-bottom: 51px;
        height: 25px;
        margin-left: 156px;
    }
}


footer .parte-1 ul {
    padding: 0;
    display: inline-block;
    margin-top: 22px;
    margin-bottom: 46px;

    @media screen and (min-width: 769px) {
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 17px;
    }
    
}
footer .parte-1 ul li{
    display: inline;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 28px;

    @media screen and (min-width: 769px) {
        font-size: 16px;

    }
    

}

footer .parte-1 ul li a{
    text-decoration: none;
    color: #CDD6E0;
}

.icon-footer {
    margin-left: 20px;
}

.parte-2 {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #000000;
    letter-spacing: 0;
    line-height: 20px;
    margin-bottom: 23px;
    text-align: center;

    @media screen and (min-width:769px){

        margin-right: 158px;
        // margin-right: -500px;
        font-size: 13px;  
        height: 25px;
        margin-top: 49px;
        margin-bottom: 51px;
    }

    
}
.lineaArribaAbajo {
    background: #572EE5;
    height: 5px;
    @media screen and(min-width: 769px) {
        width: 1440px;
        margin: 0 auto;
    }
}

