.container-header {
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 48.8px;
    height: 48.8px;
    margin-left: 22px;
    margin-top: 34px;
    margin-bottom: 17.2px;
}

.menu {
    margin-right: 26px;
    margin-top: 52px;
    margin-bottom: 34px;
}

.linea {
    background: #572EE5;
    height: 5px;
}