///////////////////////////////////////////////////////////////////
///////////////////////// SECTOR 1 ////////////////////////////////

#sector-1 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    @media screen and (min-width: 769px){
        width: 1440px;
        margin: 0 auto;
    }
  
}

#sector-1 h1 {
    height: 99px;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    color: #572EE5;
    text-align: center;
    line-height: 33px;
    margin-left: 45px;
    margin-right: 44px;
    margin-top: 7px;
    margin-bottom: 0px;

    .bodyNocturno & {
        color: #FFFFFF;
    }


    @media screen and (min-width:769px){
        width: 60%;
        margin-top: 76px;
        margin-bottom: 24px;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-size: 35px;
        line-height: 50px;

    }
}

.uno {
    display: flex;
    flex-direction: column;
    align-items: center;
}


////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////// FAVORITOS  ///////////////////////////////////////////


.divFav {
    width: 100%;
    text-align: center;
    margin-bottom: 7px;
    margin-top: 5px;
}



#sector-1 #h1Fav{
    
    height: 0px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #572EE5;
    text-align: center;
    line-height: 30px;
    margin-top: 0px;
    margin-bottom: 46px;

    .bodyNocturno & {
        color: #FFFFFF;
    }

    @media screen and(min-width: 769px) {
        margin-right: 86px;
    }

}


#sinFav {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-right: 22px;

    @media screen and(min-width: 769px){
        margin-right: 86px;
    }
}

#sinFav p {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: #50E3C2;
    text-align: center;
    line-height: 33px;
}
////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////

.expNoc {
    background: none;
}
// ///////////////////////////

.gifos {
    color: #50E3C2;
}

.ilustra {
    margin-top: 31px;
    margin-bottom: 0px;
    width: 273px;
    height: 130px;
    @media screen and (min-width: 769px) {
        width: 399px;
        height: 190px;
        margin-top: 0px;
    }
}

//////////////////////////////////////////////////////////////////////////
///////////////////////// SECTOR BUSQUEDA ////////////////////////////////

.bordeBusqueda {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 50px;
    width: 90%;
    background: transparent;
    border: 1px solid #572EE5;
    border-radius: 27px;

    .bodyNocturno & {

        border: 1px solid #FFFFFF;
    }

    @media screen and (min-width: 769px) {
        max-width: 49%;
    }

}

.bordeBusquedaActivo {

    flex-wrap: wrap;
    background: transparent;
    border: 1px solid #572EE5;
    border-radius: 27px;
    width: 90%;
    height: 100%;

    .bodyNocturno & {
       border: 1px solid #FFFFFF;
    }

    @media screen and (min-width: 769px) {
        max-width: 49%;
    }

}


.inputGral {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    // margin-top: 10px;
}

.bordeBusquedaActivo .inputGral {
    margin-top: 15px
}

.bordeBusquedaActivo .inputEspecifico {
    margin-left: 21px;
}

.inputGral input {
    font-size: 16px;
    border: none;
    outline: none;
    background: none;
    margin-left: 13px;
    .bodyNocturno & {
        color: #FFFFFF;
    }
}

.inputEspecifico{
    display: flex;
}


#icon-search{
    margin-right: 20px;
}


///////////////////////////////////////////////////////////////////
///////////////////// SECTOR RESULTADOS   /////////////////////////


#sector-resultados {

    @media screen and (min-width: 769px){
        
        width: 1440px;
        margin: 0 auto;
    }
}

#resultados {
    display: flex;
    justify-content: center;
        display: grid;
        justify-items: center;
        grid-template-columns: 1fr 1fr;
        column-gap: 21px;
        row-gap: 25px;

        @media screen and(min-width: 769px){
            
            grid-template-columns: 1fr 1fr 1fr 1fr;
            column-gap: 29px;
            row-gap: 35px;

        }
}

#divResultados img {
    width: 260px;
    height: 200px;
}

#divHouver {
    margin-top: -204px;
    max-width: 260px;
    height: 201px;
    position: absolute;
    width: 49%; 
    display: flex;
    flex-direction: row-reverse;
}



#idImgHouver1,
#idImgHouver2,
#idImgHouver3{
    width: 32px;
    height: 32px;
    margin-right: 10px;
    margin-top: 10px;
    display: none;
}



#divHouver:hover {
    background: #FFFFFF 90%;
    opacity: 0.6;

    #idImgHouver1,
    #idImgHouver2,
    #idImgHouver3{

        display: inline;
    }

}


.div-segerencia {
    color: #9cafc3;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-align: left;
    line-height: 30px;
    margin-top: 14px;
    margin-bottom: 18px;
    padding-left: 2.5%;
}

#divLinea {

    display: flex;
    justify-content: center;
}

.divLinea {
    display: flex;
    justify-content: center;
    margin-top: 35px;

    @media screen and (min-width: 769px){   
        margin-top: 55px;
        margin-bottom: 81px;
     }

}

.lineaAparecer{

    opacity: 0.5;
    border: 1px solid #9CAFC3;
    display: flex;
    width: 45%;
    height: 0.1px;
    position: relative;
    z-index: 1;

    @media screen and (min-width: 769px){   
 
       width: 30%;
    }
}

.lineaSugerencia {
 
    opacity: 0.5;
    border: 1px solid #9CAFC3;

    display: flex;
    width: 90%;
    height: 0.1px;

    position: relative;
    z-index: 1;

    @media screen and (min-width: 769px){
        width: 95%;
    }

}

#imgSug {
    margin-right: 2.5%;
}


#h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    color: #572EE5;
    text-align: center;
    line-height: 30px;
    margin-bottom: 59px;
    margin-top: 0px;

    .bodyNocturno & {
        color: #FFFFFF;
    }
}

.sector-resultados #resultados img {
    width: 156px;
    height: 120px;

    @media screen and(min-width: 769px){
        width: 260px;
        height: 200px;
    }
}

.sector-resultados #resultados #divResultados #divHouver img {
    width: 32px;
    height: 32px;
}
.sector-resultados {

        display: flex;
        justify-content: center;

}

.linea {
    opacity: 0.5;
    border: 1px solid #9CAFC3;
}

#verMas {
    display: flex;
    justify-content: center;
    width: 100%;
}

#verMas img {
    margin-top: 78px;
    margin-bottom: 79px;
}



///////////////////////////////////////////////////////////////////
///////////////////////// SECTOR 2 ////////////////////////////////

#sector-2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    @media screen and (min-width: 769px){
        width: 1440px;
        margin: 0 auto;
    }
}

#sector-2 h2 {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #572EE5;
    text-align: center;
    line-height: 25px;
    margin-bottom: 2px;

    .bodyNocturno & {
        color: #FFFFFF;
    }

    @media screen and (min-width:769px){

        margin-top: 53px;
        margin-bottom: 0px;

        font-weight: bold;
        font-size: 18px;

        

    }
}

#sector-2 p {
    font-family: 'Montserrat', sans-serif;
    width: 50%;
    font-size: 14px;
    color: #572EE5;
    text-align: center;
    line-height: 25px; 

    .bodyNocturno & {
        color: #FFFFFF;
    }

    @media screen and (min-width:769px){

        font-size: 16px;
        color: #572EE5;
        margin-top: 7px;
        margin-bottom: 95px;

    }
}

///////////////////////////////////////////////////////////////////
///////////////////////// SECTOR 3 ////////////////////////////////

.sector-3 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background: #F3F5F8;
    
    .bodyNocturno & {
        background: #222326;
    }

    @media screen and (min-width: 769px){
        width: 1440px;
        margin: 0 auto;
    }
}

.sector-3 .conteinerGifos {

    display: flex;

    flex-wrap: nowrap;
    flex-direction: row;

    overflow: hidden;
    width: 100%;
    margin-bottom: 82px;

    @media screen and (min-width: 769px) {
        justify-content: center;
        margin-bottom: 182px;
    }


}

.sector-3 .imgDiv img {
    max-width: 243px;
    height: 187px;
    margin-left: 22px;


    @media screen and(min-width: 769px){
        max-width: 357px;
        height: 275px;
        margin-right: 29px;

    }
}



.sector-3 .flecha{

    cursor: pointer;
    display: flex;

    @media screen and (min-width: 769px){
        #flechaI {
            margin-right: 29px;
        }
    }


}

.imgTransparente {
    display: flex;
    margin-left: -68px;
    margin-top: -181px;
    width: 224px;
    height: 167px;
    background: rgba(87,46,229,0.70);
}


.sector-3 h2 {
    width: 100%;
    margin-top: 46px;
    margin-bottom: 7px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #572EE5;
    text-align: center;
    line-height: 30px;

    .bodyNocturno & {
        color: #FFFFFF;
    }

    @media screen and(min-width: 769px){
        font-weight: bold;
        font-size: 25px;
        margin-top: 67px;
        margin-bottom: 0px;
    }
}

.sector-3 p {
    font-family: 'Roboto', sans-serif;
    width: 60%;
    font-size: 16px;
    color: #000000;
    text-align: center;
    line-height: 23px;

    .bodyNocturno & {
        color: #FFFFFF;
    }

    @media screen and(min-width: 769px){
        font-size: 18px;
        text-align: center;
        line-height: none;
        margin-top: 12px;
        margin-bottom: 53px;
    }
}

.sector-3 span {
    display: inline-block;
}


.containerExpandir {
    background: rgba(255,255,255,0.90);
    width: 100%;
    height: 100%;
    margin-top: -30px;
    position: absolute;
 
}


.imgExpandir {
    display: flex;
    justify-content: center;
    
}

.gral #ImgExp {
    width: 75%;
    height: 245px;

    @media screen and (min-width:769px){
        width: 695px;
        height: 385px;
    }
}

#cerrarExp{

    display: flex;
    flex-direction: row-reverse;
    width: 82%;
    @media screen and(min-width: 769px){
        margin-top: 8%;
        margin-top: 5%;
    }
    
}
#cerrar {
    margin-top: -3%;
    position: absolute;
    @media screen and(min-width: 769px){
        margin-top: 0px;
    }
}

.gral {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    

}

.logoExp {
    @media screen and(min-width: 769px){
        display: none;
    }
}

#h1Exp{

    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #000000;
    display: block;
    width: 100%;
    margin-top: 6px;

    .bodyNocturno & {
        color: #FFFFFF;
    }


}

#p {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #000000;
    display: block;
    margin-top: 14px;
    margin-bottom: 0px;

    .bodyNocturno & {
        color: #FFFFFF;
    }
}


#total {
    margin-top: 15%;
    display: flex;
    justify-content: center;
    @media screen and(min-width:769px){
        margin-top: 8%;
    }
}

.partesAll {
    display: flex;
    justify-content: space-between;
    height: 100%;
    position: absolute;
    margin-top: 250px;
    width: 75%;

    @media screen and(min-width:769px){
        width: 695px;
        margin-top: 390px;
    }
}


.parte2 {
    margin-top: 17px;

    // @media screen  and(min-width: 769px){

    //     // width: 19%;
    // }
}

.imgDeExp {
    width: 36px;
    height: 36px;
    opacity: 0.5;
    border: 1px solid #9CAFC3;
    border-radius: 6px;
    border-radius: 6px;
    margin-right: -5px;
    margin-left: 29px;
}
.parte1 {
    width: 50%
}


#favActive {
    height: 24px;
    margin-bottom: 8px;
}
////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////// CAMARA //////////////////////////////////////////////

.section {
    display: flex;
    justify-content: center;
    margin-top: 4px;
 
    width: 1440px;
    margin: 0 auto;     
}


.video, .fondo-gifo {
    display: none;
}

.video-activo {
    display: inline-block;
    width: 65%;
    margin-left: 109px;
    margin-top: 37px;
}

#imagen {
    display: inline-block;
    width: 70%;
    margin-top: 39px;
    margin-left: 97px;
   
}

#p-subiendo {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 0px;
}

.subiendo-gifo {
    display: inline-block;
    width: 462px;
    height: 308px;
    position: relative;
    background: rgba(87,46,229,0.70);
    top: -312px;
    margin-left: 97px;
}

.img-loader {

    margin-left: 215px;
    margin-top: 130px;
    width: 22px;
}
  

.contenedor {
    width: 46%;
    height: 390px;
    border: 1px solid #572EE5;


}

.icono-camara {
    order: -2;
    margin-left: -191px;
}

.luz-camara {
    order: -1;
    margin-right: 4px;
    margin-left: 2px;
}

#parrafo {

    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #000000;
    text-align: center;
    line-height: 29px;
    font-size: 1rem;
    text-align: center;
    margin-top: 0;

}

.contenedor h1 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 25px;
    color: #572EE5;
    line-height: 35px;
    margin-top: 134px;
    margin-bottom: 3px;
}

.contenedor h1 span {
    
    color: #50e3c2;

}

.sacar-texto {
    display: none;
}

.linea-divisoria {
    width: 795px;  
    height: 5px;
    background-color: #572EE5;
    border-radius: 300px;
}


.seccion-grabar {
    display: flex;
    justify-content: center;
    width: 1440px;
    margin: 0 auto;
}

.paso-a-paso {

    display: flex;
    justify-content: center;
    padding: 20px;
    margin-top: 4px;

}
.paso-a-paso img {
    margin-left: 20px;
}

.paso-a-paso img:first-child {
    margin-left: 0px;
}

.paso-a-paso img:last-child {
    margin-left: 500px;
    position: absolute;
    top: 541px;
}
  

.btn-comenzar {

    display: flex;
    justify-content: center;
}

.btn-comenzar button {
  
    width: 127px;
    height: 50px;
    border-radius: 25px;
    border: 1px solid #572EE5;
    background: none;
    margin-top: 20px;
    margin-bottom: 26px;

    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 13px;
    color: #572EE5;
    letter-spacing: 0;
    text-align: center;

}
    


#parrafo span {
    display: block;
}

.desaparecer {
    display: none;
}

.sacar-texto {
    display: none;
}

#div-iconos {
    margin-left: 375px;
    margin-top: 11px;
  
}

#div-iconos img {
    margin-right: 7px;
}

.icon-gifos:first-child {
    margin-right: 10px;
}

