/*estilos particulares*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  background-color: white;
  margin: 0 auto;
  width: 100%;
}

.bodyNocturno {
  background-color: #37383C;
}

.container-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo {
  width: 48.8px;
  height: 48.8px;
  margin-left: 22px;
  margin-top: 29px;
  margin-bottom: 17.2px;
}

.menu {
  margin-top: 47px;
  margin-right: 26px;
  margin-bottom: 34px;
}

.linea {
  background: #572EE5;
  height: 5px;
}

#checkbox {
  display: none;
}

.menu .span1 {
  display: block;
  width: 15px;
  height: 2px;
  background: #572EE5;
  margin-bottom: 4px;
  position: relative;
  z-index: 1;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.nav ul {
  width: 100%;
  position: absolute;
  right: 0px;
  overflow: hidden;
  list-style: none;
  background: rgba(87, 46, 229, 0.9);
  height: 0px;
  padding-left: 0;
  margin-top: 17px;
}

.nav ul li {
  position: relative;
}

.nav ul li a {
  position: relative;
  text-decoration: none;
  display: block;
  letter-spacing: 0;
  font-weight: 1;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  color: #FFFFFF;
  text-align: center;
  line-height: 60px;
}

.spanli {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 167px;
  width: 41px;
  height: 0.1px;
  margin-bottom: 4px;
  position: relative;
  z-index: 1;
  opacity: 0.3;
  border: 1px solid #FFFFFF;
}

.icon-nav1 {
  margin-top: 17px;
}

input[type="checkbox"]:checked ~ ul {
  height: 100%;
  position: fixed;
}

input[type="checkbox"]:checked ~ label span {
  opacity: 1;
  -webkit-transform: rotate(45deg) translate(-5px, -4px);
          transform: rotate(45deg) translate(-5px, -4px);
}

input[type="checkbox"]:checked ~ label span:nth-last-child(3) {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
          transform: rotate(0deg) scale(0.2, 0.2);
}

input[type="checkbox"]:checked ~ label span:nth-last-child(2) {
  -webkit-transform: rotate(-45deg) translate(1px, -2px);
          transform: rotate(-45deg) translate(1px, -2px);
}

#sector-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#sector-1 h1 {
  height: 99px;
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  color: #572EE5;
  text-align: center;
  line-height: 33px;
  margin-left: 45px;
  margin-right: 44px;
  margin-top: 7px;
  margin-bottom: 0px;
}

.divFav {
  width: 100%;
  text-align: center;
  margin-bottom: 7px;
  margin-top: 5px;
}

#sector-1 #h1Fav {
  height: 0px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color: #572EE5;
  text-align: center;
  line-height: 30px;
  margin-top: 0px;
  margin-bottom: 46px;
}

#sinFav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#sinFav p {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  color: #50E3C2;
  text-align: center;
  line-height: 33px;
}

.gifos {
  color: #50E3C2;
}

.ilustra {
  margin-top: 31px;
  margin-bottom: 0px;
  width: 273px;
  height: 130px;
}

.bordeBusqueda {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 50px;
  width: 90%;
  background: transparent;
  border: 1px solid #572EE5;
  border-radius: 27px;
}

.bordeBusqueda input {
  font-size: 16px;
  border: none;
  outline: none;
  background: none;
  text-align: center;
}

#resultados {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  row-gap: 15px;
}

#h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 35px;
  color: #572EE5;
  text-align: center;
  line-height: 30px;
}

.sector-resultados #resultados img {
  width: 260px;
  height: 200px;
}

.linea {
  opacity: 0.5;
  border: 1px solid #9CAFC3;
}

#verMas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#verMas img {
  margin-top: 78px;
  margin-bottom: 79px;
}

#sector-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#sector-2 h2 {
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #572EE5;
  text-align: center;
  line-height: 25px;
  margin-bottom: 2px;
}

#sector-2 p {
  font-family: 'Montserrat', sans-serif;
  width: 50%;
  font-size: 14px;
  color: #572EE5;
  text-align: center;
  line-height: 25px;
}

.sector-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: #F3F5F8;
  padding-bottom: 82px;
}

.bodyNocturno .sector-3 {
  background: #222326;
}

.sector-3 .conteinerGifos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow: hidden;
  width: 100%;
}

@media screen and (min-width: 710px) {
  .sector-3 .conteinerGifos {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.sector-3 .imgDiv img {
  max-width: 243px;
  height: 187px;
  padding: 10px;
}

.sector-3 .flecha {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.imgTransparente {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -68px;
  margin-top: -181px;
  width: 224px;
  height: 167px;
  background: rgba(87, 46, 229, 0.7);
}

.sector-3 h2 {
  width: 100%;
  margin-top: 46px;
  margin-bottom: 7px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color: #572EE5;
  text-align: center;
  line-height: 30px;
}

.sector-3 p {
  font-family: 'Roboto', sans-serif;
  width: 60%;
  font-size: 16px;
  color: #000000;
  text-align: center;
  line-height: 23px;
}

.sector-3 span {
  display: inline-block;
}

.containerExpandir {
  background: rgba(255, 255, 255, 0.9);
  width: 100%;
  height: 100%;
  margin-top: -30px;
  position: absolute;
}

.imgExpandir {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.imgExpandir img {
  display: block;
  margin-top: 73px;
  width: 80%;
  height: 260px;
}

#cerrarExp {
  margin-top: -30px;
  margin-left: 317px;
}

.gral {
  position: absolute;
}

#h1Exp {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #000000;
  display: block;
  width: 100%;
  margin-top: 6px;
}

#p {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  color: #000000;
  display: block;
  margin-top: 14px;
  margin-bottom: 0px;
}

.partesAll {
  margin-top: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 32px;
  padding-left: 40px;
}

.parte2 {
  margin-top: 17px;
  margin-left: -8px;
}

.parte1 {
  width: 80%;
}

footer p {
  color: #000000;
  font-family: 'Roboto', sans-serif;
  margin-top: 47px;
  margin-bottom: 0;
}

.parte-1, .parte-2 {
  text-align: center;
}

footer .parte-1 ul {
  padding: 0;
  display: inline-block;
  margin-top: 22px;
  margin-bottom: 46px;
}

footer .parte-1 ul li {
  display: inline;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 28px;
}

footer .parte-1 ul li a {
  text-decoration: none;
  color: #CDD6E0;
}

.icon-footer {
  margin-left: 20px;
}

.parte-2 {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #000000;
  letter-spacing: 0;
  line-height: 20px;
  margin-bottom: 23px;
}

.parte-3 {
  background: #572EE5;
  height: 5px;
}
/*# sourceMappingURL=style.css.map */