/*estilos particulares*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  background-color: white;
  margin: 0 auto;
  width: 100%;
}

.bodyNocturno {
  background-color: #37383C;
}

.container-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 769px) {
  header {
    width: 1440px;
    margin: 0 auto;
  }
}

.logo {
  width: 48.8px;
  height: 48.8px;
  margin-left: 22px;
  margin-top: 29px;
  margin-bottom: 17.2px;
}

.menu {
  margin-top: 47px;
  margin-right: 26px;
  margin-bottom: 34px;
}

.linea {
  background: #572EE5;
  height: 5px;
}

#checkbox {
  display: none;
}

.menu .span1 {
  display: block;
  width: 15px;
  height: 2px;
  background: #572EE5;
  margin-bottom: 4px;
  position: relative;
  z-index: 1;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.nav ul {
  width: 100%;
  position: absolute;
  right: 0px;
  overflow: hidden;
  list-style: none;
  background: rgba(87, 46, 229, 0.9);
  height: 0px;
  padding-left: 0;
  margin-top: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav ul li {
  position: relative;
}

.nav ul li a {
  position: relative;
  text-decoration: none;
  display: block;
  letter-spacing: 0;
  font-weight: 1;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  color: #FFFFFF;
  text-align: center;
  line-height: 60px;
}

.spanli {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 41px;
  height: 0.1px;
  margin-bottom: 4px;
  position: relative;
  z-index: 1;
  opacity: 0.3;
  border: 1px solid #FFFFFF;
}

.icon-nav1 {
  margin-top: 17px;
}

.imgCrearGifo {
  display: none;
}

input[type="checkbox"]:checked ~ ul {
  height: 100%;
  position: fixed;
}

input[type="checkbox"]:checked ~ ul .container-header {
  position: fixed;
}

input[type="checkbox"]:checked ~ header {
  position: fixed;
}

input[type="checkbox"]:checked ~ label span {
  opacity: 1;
  -webkit-transform: rotate(45deg) translate(-5px, -4px);
          transform: rotate(45deg) translate(-5px, -4px);
}

input[type="checkbox"]:checked ~ label span:nth-last-child(3) {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
          transform: rotate(0deg) scale(0.2, 0.2);
}

input[type="checkbox"]:checked ~ label span:nth-last-child(2) {
  -webkit-transform: rotate(-45deg) translate(1px, -2px);
          transform: rotate(-45deg) translate(1px, -2px);
}

@media screen and (min-width: 769px) {
  .menu {
    margin-top: 18px;
    margin-bottom: 38px;
    margin-right: 156px;
  }
  .menu .span1 {
    display: none;
  }
  .menu ul .spanli {
    display: none;
  }
  .container-header {
    height: 90px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .nav {
    margin: 0px;
    height: 0px;
  }
  .logo {
    margin-left: 156px;
    margin-top: 18px;
    margin-bottom: 13px;
    width: 59px;
    height: 59px;
  }
  .nav .menu ul {
    position: relative;
    list-style: none;
    height: 54px;
    background: #FFFFFF;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .nav .menu ul li {
    display: inline-block;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 1rem;
    letter-spacing: 0;
    line-height: 28px;
    padding: 0px;
    width: 100%;
  }
  .nav .menu ul li a {
    -webkit-text-decoration-line: none;
            text-decoration-line: none;
    padding: 0px 0%;
    line-height: 0px;
    margin-right: 0px;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    color: #572EE5;
    letter-spacing: 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    width: 140px;
  }
  .icon-nav1 {
    margin: 0px;
  }
  .nav .menu ul a .imgCrearGifo {
    height: 51px;
    max-width: none;
    display: inline;
  }
}

#sector-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (min-width: 769px) {
  #sector-1 {
    width: 1440px;
    margin: 0 auto;
  }
}

#sector-1 h1 {
  height: 99px;
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  color: #572EE5;
  text-align: center;
  line-height: 33px;
  margin-left: 45px;
  margin-right: 44px;
  margin-top: 7px;
  margin-bottom: 0px;
}

@media screen and (min-width: 769px) {
  #sector-1 h1 {
    width: 60%;
    margin-top: 76px;
    margin-bottom: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 35px;
    line-height: 50px;
  }
}

.uno {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.divFav {
  width: 100%;
  text-align: center;
  margin-bottom: 7px;
  margin-top: 5px;
}

#sector-1 #h1Fav {
  height: 0px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color: #572EE5;
  text-align: center;
  line-height: 30px;
  margin-top: 0px;
  margin-bottom: 46px;
}

@media screen and (min-width: 769px) {
  #sector-1 #h1Fav {
    margin-right: 86px;
  }
}

#sinFav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 22px;
}

@media screen and (min-width: 769px) {
  #sinFav {
    margin-right: 86px;
  }
}

#sinFav p {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  color: #50E3C2;
  text-align: center;
  line-height: 33px;
}

.expNoc {
  background: none;
}

.gifos {
  color: #50E3C2;
}

.ilustra {
  margin-top: 31px;
  margin-bottom: 0px;
  width: 273px;
  height: 130px;
}

@media screen and (min-width: 769px) {
  .ilustra {
    width: 399px;
    height: 190px;
    margin-top: 0px;
  }
}

.bordeBusqueda {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 50px;
  width: 90%;
  background: transparent;
  border: 1px solid #572EE5;
  border-radius: 27px;
}

@media screen and (min-width: 769px) {
  .bordeBusqueda {
    max-width: 49%;
  }
}

.bordeBusquedaActivo {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: transparent;
  border: 1px solid #572EE5;
  border-radius: 27px;
  width: 90%;
  height: 100%;
}

@media screen and (min-width: 769px) {
  .bordeBusquedaActivo {
    max-width: 49%;
  }
}

.inputGral {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.bordeBusquedaActivo .inputGral {
  margin-top: 15px;
}

.bordeBusquedaActivo .inputEspecifico {
  margin-left: 21px;
}

.inputGral input {
  font-size: 16px;
  border: none;
  outline: none;
  background: none;
  margin-left: 13px;
}

.inputEspecifico {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#icon-search {
  margin-right: 20px;
}

@media screen and (min-width: 769px) {
  #sector-resultados {
    width: 1440px;
    margin: 0 auto;
  }
}

#resultados {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 21px;
          column-gap: 21px;
  row-gap: 25px;
}

@media screen and (min-width: 769px) {
  #resultados {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    -webkit-column-gap: 29px;
            column-gap: 29px;
    row-gap: 35px;
  }
}

#divResultados img {
  width: 260px;
  height: 200px;
}

#divHouver {
  margin-top: -204px;
  max-width: 260px;
  height: 201px;
  position: absolute;
  width: 49%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

#idImgHouver1,
#idImgHouver2,
#idImgHouver3 {
  width: 32px;
  height: 32px;
  margin-right: 10px;
  margin-top: 10px;
  display: none;
}

#divHouver:hover {
  background: #FFFFFF 90%;
  opacity: 0.6;
}

#divHouver:hover #idImgHouver1,
#divHouver:hover #idImgHouver2,
#divHouver:hover #idImgHouver3 {
  display: inline;
}

.div-segerencia {
  color: #9cafc3;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  text-align: left;
  line-height: 30px;
  margin-top: 14px;
  margin-bottom: 18px;
  padding-left: 2.5%;
}

#divLinea {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.lineaSugerencia {
  opacity: 0.5;
  border: 1px solid #9CAFC3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  height: 0.1px;
  position: relative;
  z-index: 1;
}

@media screen and (min-width: 769px) {
  .lineaSugerencia {
    width: 95%;
  }
}

#imgSug {
  margin-right: 2.5%;
}

#h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 35px;
  color: #572EE5;
  text-align: center;
  line-height: 30px;
}

.sector-resultados #resultados img {
  width: 156px;
  height: 120px;
}

@media screen and (min-width: 769px) {
  .sector-resultados #resultados img {
    width: 260px;
    height: 200px;
  }
}

.sector-resultados #resultados #divResultados #divHouver img {
  width: 32px;
  height: 32px;
}

.sector-resultados {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.linea {
  opacity: 0.5;
  border: 1px solid #9CAFC3;
}

#verMas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

#verMas img {
  margin-top: 78px;
  margin-bottom: 79px;
}

#sector-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (min-width: 769px) {
  #sector-2 {
    width: 1440px;
    margin: 0 auto;
  }
}

#sector-2 h2 {
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #572EE5;
  text-align: center;
  line-height: 25px;
  margin-bottom: 2px;
}

@media screen and (min-width: 769px) {
  #sector-2 h2 {
    margin-top: 53px;
    margin-bottom: 0px;
    font-weight: bold;
    font-size: 18px;
  }
}

#sector-2 p {
  font-family: 'Montserrat', sans-serif;
  width: 50%;
  font-size: 14px;
  color: #572EE5;
  text-align: center;
  line-height: 25px;
}

@media screen and (min-width: 769px) {
  #sector-2 p {
    font-size: 16px;
    color: #572EE5;
    margin-top: 7px;
    margin-bottom: 95px;
  }
}

.sector-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: #F3F5F8;
}

.bodyNocturno .sector-3 {
  background: #222326;
}

@media screen and (min-width: 769px) {
  .sector-3 {
    width: 1440px;
    margin: 0 auto;
  }
}

.sector-3 .conteinerGifos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow: hidden;
  width: 100%;
  margin-bottom: 82px;
}

@media screen and (min-width: 769px) {
  .sector-3 .conteinerGifos {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 182px;
  }
}

.sector-3 .imgDiv img {
  max-width: 243px;
  height: 187px;
  margin-left: 22px;
}

@media screen and (min-width: 769px) {
  .sector-3 .imgDiv img {
    max-width: 357px;
    height: 275px;
    margin-right: 29px;
  }
}

.sector-3 .flecha {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 769px) {
  .sector-3 .flecha #flechaI {
    margin-right: 29px;
  }
}

.imgTransparente {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -68px;
  margin-top: -181px;
  width: 224px;
  height: 167px;
  background: rgba(87, 46, 229, 0.7);
}

.sector-3 h2 {
  width: 100%;
  margin-top: 46px;
  margin-bottom: 7px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color: #572EE5;
  text-align: center;
  line-height: 30px;
}

@media screen and (min-width: 769px) {
  .sector-3 h2 {
    font-weight: bold;
    font-size: 25px;
    margin-top: 67px;
    margin-bottom: 0px;
  }
}

.sector-3 p {
  font-family: 'Roboto', sans-serif;
  width: 60%;
  font-size: 16px;
  color: #000000;
  text-align: center;
  line-height: 23px;
}

@media screen and (min-width: 769px) {
  .sector-3 p {
    font-size: 18px;
    text-align: center;
    line-height: none;
    margin-top: 12px;
    margin-bottom: 53px;
  }
}

.sector-3 span {
  display: inline-block;
}

.containerExpandir {
  background: rgba(255, 255, 255, 0.9);
  width: 100%;
  height: 100%;
  margin-top: -30px;
  position: absolute;
}

.imgExpandir {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.imgExpandir img {
  display: block;
  margin-top: 73px;
  width: 80%;
  height: 260px;
}

#cerrarExp {
  margin-top: -30px;
  margin-left: 317px;
}

.gral {
  position: absolute;
}

#h1Exp {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #000000;
  display: block;
  width: 100%;
  margin-top: 6px;
}

#p {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  color: #000000;
  display: block;
  margin-top: 14px;
  margin-bottom: 0px;
}

.partesAll {
  margin-top: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 32px;
  padding-left: 40px;
}

.parte2 {
  margin-top: 17px;
  margin-left: -8px;
}

.parte1 {
  width: 80%;
}

.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 4px;
  width: 1440px;
  margin: 0 auto;
}

.video, .fondo-gifo {
  display: none;
}

.video-activo {
  display: inline-block;
  width: 65%;
  margin-left: 109px;
  margin-top: 37px;
}

#imagen {
  display: inline-block;
  width: 70%;
  margin-top: 39px;
  margin-left: 97px;
}

#p-subiendo {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  color: #FFFFFF;
  text-align: center;
  margin-top: 0px;
}

.subiendo-gifo {
  display: inline-block;
  width: 462px;
  height: 308px;
  position: relative;
  background: rgba(87, 46, 229, 0.7);
  top: -312px;
  margin-left: 97px;
}

.img-loader {
  margin-left: 215px;
  margin-top: 130px;
  width: 22px;
}

.contenedor {
  width: 46%;
  height: 390px;
  border: 1px solid #572EE5;
}

.icono-camara {
  -webkit-box-ordinal-group: -1;
      -ms-flex-order: -2;
          order: -2;
  margin-left: -191px;
}

.luz-camara {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  margin-right: 4px;
  margin-left: 2px;
}

#parrafo {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #000000;
  text-align: center;
  line-height: 29px;
  font-size: 1rem;
  text-align: center;
  margin-top: 0;
}

.contenedor h1 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 25px;
  color: #572EE5;
  line-height: 35px;
  margin-top: 134px;
  margin-bottom: 3px;
}

.contenedor h1 span {
  color: #50e3c2;
}

.sacar-texto {
  display: none;
}

.linea-divisoria {
  width: 795px;
  height: 5px;
  background-color: #572EE5;
  border-radius: 300px;
}

.seccion-grabar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 1440px;
  margin: 0 auto;
}

.paso-a-paso {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
  margin-top: 4px;
}

.paso-a-paso img {
  margin-left: 20px;
}

.paso-a-paso img:first-child {
  margin-left: 0px;
}

.paso-a-paso img:last-child {
  margin-left: 500px;
  position: absolute;
  top: 541px;
}

.btn-comenzar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn-comenzar button {
  width: 127px;
  height: 50px;
  border-radius: 25px;
  border: 1px solid #572EE5;
  background: none;
  margin-top: 20px;
  margin-bottom: 26px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 13px;
  color: #572EE5;
  letter-spacing: 0;
  text-align: center;
}

#parrafo span {
  display: block;
}

.desaparecer {
  display: none;
}

.sacar-texto {
  display: none;
}

#div-iconos {
  margin-left: 363px;
  margin-top: 15px;
}

.icon-gifos:first-child {
  margin-right: 10px;
}

@media screen and (min-width: 769px) {
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 1440px;
    margin: 0 auto;
  }
}

footer p {
  color: #000000;
  font-family: 'Roboto', sans-serif;
  margin-top: 47px;
  margin-bottom: 0;
  font-size: 15px;
}

@media screen and (min-width: 769px) {
  footer p {
    display: inline;
    font-size: 13px;
    margin-top: 47px;
    letter-spacing: 0;
  }
}

footer .parte-1 {
  text-align: center;
}

@media screen and (min-width: 769px) {
  footer .parte-1 {
    margin-top: 49px;
    margin-bottom: 51px;
    height: 25px;
    margin-left: 156px;
  }
}

footer .parte-1 ul {
  padding: 0;
  display: inline-block;
  margin-top: 22px;
  margin-bottom: 46px;
}

@media screen and (min-width: 769px) {
  footer .parte-1 ul {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 17px;
  }
}

footer .parte-1 ul li {
  display: inline;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 28px;
}

@media screen and (min-width: 769px) {
  footer .parte-1 ul li {
    font-size: 16px;
  }
}

footer .parte-1 ul li a {
  text-decoration: none;
  color: #CDD6E0;
}

.icon-footer {
  margin-left: 20px;
}

.parte-2 {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #000000;
  letter-spacing: 0;
  line-height: 20px;
  margin-bottom: 23px;
  text-align: center;
}

@media screen and (min-width: 769px) {
  .parte-2 {
    margin-right: 158px;
    font-size: 13px;
    height: 25px;
    margin-top: 49px;
    margin-bottom: 51px;
  }
}

.lineaArribaAbajo {
  background: #572EE5;
  height: 5px;
}

@media screen and (min-width: 769px) {
  .lineaArribaAbajo {
    width: 1440px;
    margin: 0 auto;
  }
}
/*# sourceMappingURL=style.css.map */